* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


body {
    background-color: #cccccc;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

form {
    max-width: 400px;
    margin: 130px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form h1 {
    margin: 13px 115px;
}

div {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    margin: 0px 140px;
    cursor: pointer;
}

p {
    margin-top: 10px;
}